[submodule "_dotbot"]
	path = _dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "theme/dependencies/themes/whitesur-gtk-theme"]
	path = theme/dependencies/themes/whitesur-gtk-theme
	url = https://github.com/vinceliuice/whitesur-gtk-theme
[submodule "theme/dependencies/themes/whitesur-icon-theme"]
	path = theme/dependencies/themes/whitesur-icon-theme
	url = https://github.com/vinceliuice/whitesur-gtk-theme
[submodule "theme/dependencies/themes/whitesur-cursors"]
	path = theme/dependencies/themes/whitesur-cursors
	url = https://github.com/vinceliuice/whitesur-cursors
[submodule "system/dependencies/zsh/zsh-syntax-highlighting"]
	path = system/dependencies/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "system/dependencies/zsh/zsh-autosuggestions"]
	path = system/dependencies/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "theme/dependencies/themes/whitesur-kde"]
	path = theme/dependencies/themes/whitesur-kde
	url = https://github.com/vinceliuice/WhiteSur-kde
